{{ define "main" }}
<!--suppress HtmlUnknownTarget -->
<div class="jumbotron">
  <h1 class="display-4 welcome-brand">
    <img src="{{ `/images/sonatype-brand.svg` | relURL }}" height="56" alt="Sonatype">
    <span class="welcome-brand-app-name align-middle">{{ .Title }}</span>
  </h1>
  <p class="lead text-muted">
    Implementation of <a href="https://github.com/package-url/purl-spec">Package URL</a> specification for Java.
  </p>
</div>

<div class="homepage-content">
  {{ .Content }}
</div>

{{ end }}
